.DS_Store
*.bin
*.disasm
*.elf
*.hex
*.map
*.o
*.d
*.a
mri.log
pyocd.log
deploy
debug
/BuildShell
/BuildShellDebug
/BuildShellDevelop
/BuildShell.cmd
/BuildShellDebug.cmd
/BuildShellDevelop.cmd
/gcc-arm-none-eabi/
/mac_install.log
/win_install.log
/linux_install.log
/samples/HelloWorld/TestPass*.mk
/mbedUpdater/mbedUpdater
!/mri/*.a
