.DS_Store
*.bin
*.disasm
*.elf
*.hex
*.map
*.o
*.d
*.ar
mri.log
deploy
debug
.svn/
external/mbed/
/BuildShell
/BuildShellDebug
/BuildShell.cmd
/gcc-arm-none-eabi/
/mac_install.log
/win_install.log
/linux_install.log
